/*=============================================================================
File: App.module.css
-------------------------------------------------------------------------------
Description: styling for website 
=============================================================================*/
/*--------------- Basic Theme --------------------------------------------*/
*,
*::before,
**::after {
  margin: 0;
  padding: 0; 

  box-sizing: border-box; 
}
.App {
  text-align: center;
}
body {
  background-color: rgb(253, 236, 140);
}


